[submodule "multi-sig/lib/forge-std"]
	path = multi-sig/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "multi-sig/lib/openzeppelin-contracts"]
	path = multi-sig/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
